

input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#gamearea {
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
}

#titlearea {
    width: 52%;
    border-radius: 5px;
    background-color: #959794;
    padding: 20px;
}

#time {
    position: relative;
    clear: none;
}

#buttons {
    position: relative;
    left: 20%;
    float: left;
    clear: none;
    bottom: 20px;
}

#score {
    position: relative;
    float: right;
    clear: none;
    bottom: 50px;
}
